@import './../../styles/variables.scss';
.dashboard--nav{
  display: flex;
  align-content: space-around;
  font-family: Quicksand;
  font-style: normal;
}

.dashboard__navItem{
  flex-grow: 1;
  box-sizing: border-box;
  flex-basis: 10%;
  padding: 0px 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
.dashboard__navItem p {
  color: $greyColor;
}
.dashboard__navItem--focus{
  flex-grow: 1;
  box-sizing: border-box;
  flex-basis: 10%;
  text-align: center;
  border: 1px solid $matterhornColor;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.dashboard__navItem--focus p {
  color: $mustardColor;
}
