@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

$font-family-base: 'Montserrat', sans-serif;

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: $font-family-base;
  outline: 0;
}

html {
  box-sizing: border-box;
  font-size: 93.75%;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $whiteColor;
  color: $matterhornColor;
  line-height: 1.5;
  text-align: left;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.form-field {
  margin-bottom: 22px;
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'] {
  width: 100%;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 1em;
  background: transparent;
  outline: 0;

  &:focus {
    border-color: rgba(0, 0, 0, 0.5);
  }

  &::placeholder {
    font-weight: 200;
    font-size: 0.9em;
  }
}

.has-validation-error {
  border-color: #dd2c00 !important;
}

.input-validation-error {
  font-size: 0.95em;
  color: #dd2c00 !important;
}

.container {
  min-height: calc(100vh - 60px);
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $matterhornColor;
}

.btn {
  display: inline-block;
  margin: 0;
  color: $whiteColor;
  background-color: $matterhornColor;
  padding: 0.75rem 3rem;
  border-radius: 2px;
  outline: 0;
  transition: background-color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  font: {
    size: 1em;
    weight: 400;
  }
  &:hover {
    background-color: $whiteColor;
    color: $matterhornColor;
    border: 1px solid $matterhornColor;
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    color: $whiteColor;
    background-color: $greyColor;
    border: none;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.05);
  color: $matterhornColor;
  min-width: fit-content;
  display: flex;
  justify-content: space-around;
  height: 60px;
}

@media (min-width: 425px) {
  .container {
    min-height: calc(100vh - 80px);
  }
  .footer {
    height: 80px;
  }
}

@media (min-width: 768px) {
  .container {
    min-height: calc(100vh - 100px);
  }
  .footer {
    height: 100px;
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 1em;
  background: transparent;
  outline: 0;

  &:focus {
    border-color: rgba(0, 0, 0, 0.5);
  }

  &::placeholder {
    font-weight: 200;
    font-size: 0.9em;
  }
}
.has-validation-error {
  border-color: $redColor !important;
}
