@import '../../styles/variables.scss';

.mustard {
  color: $mustardColor;
}

.Header {
  border-bottom: 1px solid;
  padding: 10px;

  .Header__logo {
    display: inline-flex;
    width: 50%;
    vertical-align: top;
    font-size: 20px;
  }

  .SearchForm {
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    background: rgba(186, 186, 186, 0.3);
    width: 100%;
  }

  .Header__nav {
    margin-bottom: 1rem;
    width: 30%;
    float: right;
  }
}

@media (min-width: 777px) {
  .Header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .SearchForm {
      width: 300px !important;
    }

    .Header__nav {
      order: 3;
      margin-bottom: 0;
      margin-left: 1rem;
    }
  }
}

@media (min-width: 1200px) {
  .Header {
    padding: 10px 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .SearchForm {
      width: 400px;
      margin-right: -2rem;
    }

    .Header__nav {
      width: 20% !important;
    }
  }
}
