.form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.reset__password__form {
	width: 100%;
	max-width: 364px;
	h1{
		text-align: center;
}
.form-field:last-of-type {
	text-align: center;
}
}

.input-validation-error {
	font-size: 0.95em;
	color: #dd2c00 !important;
}

.success-message {
	color: #008000
}

.center{
	text-align: center;
	margin: 20px;
}

